
<section class="content grid">
<section class="razdel unvisible razdel__aboutus" data-razdel="aboutus">{{>main/aboutus}}</section>
<section class="razdel unvisible razdel__services grid" data-razdel="services">{{>main/services}}</section>
<section class="razdel unvisible razdel__faq grid" data-razdel="faq">{{>main/faq}}</section>

</section>
