

    {{#each listemployees}}
   
    <article class="employee grid">
    <span class="employee__name grid">
        <span class="surname">{{surname}}</span>
        <span class="name">{{name}}</span>
    </span>    
     <span class="employee__contact grid">
         <span>{{tel}}</span>
        <span>{{email}}</span>
    </article>
    
    {{/each}}



